<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta char="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scraping Mars</title>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Mission to Mars</h1>
                <p><a href="/scrape" role="button">Scrape New Data</a></p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading">Latest Mars News
                    <h2 class="heading">{{ mars_results.title }}</h2>
                    <p>{{ mars_results.paragraph }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="heading"><strong>Featured Mars Image</strong></h2>
                <img src="{{ mars_results.image_url }}" class="img-responsive" alt="Mars Images">
                <br>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-4">
            <div class="panel-body">
                <h3>Current Weather on Mars</h3>
                <hr>
                <p>{{mars_results.mars_weather}}</p>
            </div>
            <div class="col-md-12">
                <h3>Mars Facts</h3>
                <hr>
                <table class="dataframe">
                    {{mars_results.fact_table}
                </table>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <br>
            <h1 class="heading text-center"><strong>Mars Hemisphere</strong></h2>
                <div class="col-md-6">
                    <div class="col-md-12">
                        {% for image in mars_results.image_urls[0:2] %}
                        <img class="img img-thumbnail" src="{{image['urls']}}" alt="hemisphere" style="width:50%;">
                        <div class="caption" style="font-weight: bold;">
                            {{image['title']}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        {% for image in mars_results.image_urls[2:4] %}
                        <img src="{{image['urls']}}" alt="hemisphere" style="width:50%;">
                        <div class="caption " style="font-weight: bold;">
                            {{image['title']}}
                        </div>
                        {% endfor %}
                    </div>
                </div>

        </div>
    </div>

</body>

</html>